body {
  background: #ffefba; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ffffff, #ffefba); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ffffff, #ffefba); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-size: 16px;
}

.nav-link {
  font-weight: 600;
}

.text-justify {
  text-align: justify;
}

#txtComment {
  resize: none;
}

@media (max-width: 576px) {
  .card-text {
      font-size: 0.8rem;
  }
}

.img-fluid{
  height: 500px;
  -ms-flex-align: center;
}

.galeria{
  width: 600px;
  height: 500px;
  opacity: .5;
  border: double grey 2px;
  -ms-flex-align: center;
}
img:hover{
  opacity: 1;
  border: solid 2px white;
}
.galeria:hover{
  transform: scale(1.1, 1.1);
  transition: all 2s ;
}

.body{
  font-family: 'Rowdies', cursive;
}
