* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  // Estilos para el body
  body {
    // Fondo
    background: $background-color;
    background: linear-gradient(to right, $gradient-color-1, $gradient-color-2);
    // Tipografía
    font-size: $font-size;
    font-family: $font-family;
  }
  
  // Estilos para los enlaces de navegación
.nav-link {
  font-weight: 600;
}

// Estilos para el texto justificado
.text-justify {
  text-align: justify;
}

// Estilos para el campo de texto de comentario
#txtComment {
  resize: none;
}

// Estilos para imágenes fluidas
.img-fluid {
  height: 500px;
  align-self: center;
}
